<section
  class="h-screen w-screen text-center relative overflow-hidden"
  id="about"
>
  <div class="flex">
    <div class="w-1/2"></div>
    <div class="relative z-30 flex flex-col w-1/2 h-screen">
      <header class="flex flex-col">
        <h1 class="text-gray-700 pt-40 text-5xl font-medium mb-4 rock-font">
          About Metallica
        </h1>
        <p class="text-gray-700 text-base px-10">
          Metallica is an American heavy metal band. The band was formed in 1981
          in Los Angeles by vocalist and guitarist James Hetfield and drummer
          Lars Ulrich, and has been based in San Francisco for most of its
          career.
        </p>
      </header>

      <footer class="flex flex-col flex-grow justify-end text-gray-700 pb-24">
        <div class="text-gray-700">
          <a href="">I want to know more</a>
        </div>
      </footer>
    </div>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="../../public/images/metallica-band.jpg"
      alt="Metallica band"
      class="h-full w-full object-cover"
    />
  </div>
</section>
