<section
  class="relative h-screen w-screen overflow-hidden flex justify-end items-center text-center"
  id="about"
>
  <div class="flex flex-row sm:w-[50vw] h-screen p-3 box-border z-20">
    <div class="flex flex-col justify-around">
      <header>
        <h1 class="text-white pt-40 text-4xl font-medium mb-4 rock-font">
          About Metallica
        </h1>
        <p class="text-white text-base px-10">
          Metallica is an American heavy metal band. The band was formed in 1981
          in Los Angeles by vocalist and guitarist James Hetfield and drummer
          Lars Ulrich, and has been based in San Francisco for most of its
          career.
        </p>
      </header>

      <footer class="text-white pb-24">
        <a
          href="/members"
          class="bg-gray-700/5 text-gray-200 font-light rounded-lg px-6 py-1 border-gray-200 border-2"
          >See More</a
        >
      </footer>
    </div>
  </div>

  <picture
    class="absolute top-0 bottom-0 h-full w-full z-10 bg-gray-700/35 blur-sm"
  >
    <img
      src="/images/metallica-band.jpg"
      alt="Metallica band"
      class="h-full w-full object-cover"
    />
  </picture>
</section>
