---
import { albums } from "../../services/metallica-data";
---

<section
  class="h-screen w-screen text-center relative overflow-hidden"
  id="albums"
>
  <div class="flex flex-col w-screen h-screen">
    <div>
      <h2 class="text-gray-200 pt-32 text-2xl font-medium mb-4 rock-font">
        Studio Albums
      </h2>
    </div>
    <div class="relative my-0 mx-auto">
      <ul
        class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] w-screen max-w-[80%] gap-4 items-center justify-items-center p-4 box-border my-0 mx-auto overflow-auto max-h-[100%]"
      >
        {
          albums.map(({ title, year, cover }) => (
            <li
              class="rounded-sm relative h-32 transform transition-transform duration-500 ease-in-out hover:scale-110 bg-center w-[100%]"
              style={{ backgroundImage: `url(${cover})` }}
            >
              <div class="rounded-sm z-30">
                <button class="bg-gray-700/35 text-white absolute top-0 left-0 w-full h-full">
                  <h4 class=" absolute p-1 w-full top-0 bg-gray-700/70">
                    {title} <span class="italic">({year})</span>
                  </h4>
                </button>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
