<section class="relative h-screen text-center overflow-hidden w-full" id="home">
  <div
    class="relative z-30 h-full flex flex-col justify-around items-center text-center backdrop-blur"
  >
    <header>
      <h1 class="text-white text-5xl font-medium rock-font my-5">Metallica</h1>
      <p class="text-white text-base">
        Welcome to the best Metallica Experience
      </p>
    </header>

    <footer class="text-white pb-24">
      <a
        href="/#about"
        class="bg-gray-700/5 text-gray-200 font-light rounded-lg px-6 py-1 border-gray-200 border-2"
        >See More</a
      >
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="videos/metallica-video-final-2.mp4"></video>
  </div>
</section>
