<section
  class="h-screen w-screen text-center relative overflow-hidden"
  id="home"
>
  <div class="relative z-30 h-full flex flex-col">
    <header class="flex flex-col">
      <h1 class="text-white pt-40 text-5xl font-medium mb-4 rock-font">
        Metallica
      </h1>
      <p class="text-white text-base">
        Welcome to the best Metallica Experience
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end text-white pb-24">
      <div class="text-white"><a href="">See More</a></div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="../../public/videos/metallica-video-final-2.mp4"></video>
  </div>
</section>
