---
import Layout from "../../layouts/Layout.astro";
import Footer from "../footer/Footer.astro";

const { title, subtitle } = Astro.props;
---

<Layout title={title}>
  <main>
    <header class="relative w-full text-center mt-36 mb-16 px-6 sm:px-36">
      <h2 class="text-white text-4xl font-medium rock-font my-5 mb-14">
        {title}
      </h2>
      <p class="text-white text-base font-light">{subtitle}</p>
    </header>

    <section class="relative text-white text-center overflow-hidden">
      <!-- Albums Page Slot -->
      <slot name="albums" />
      <!-- Members Page Slot -->
      <slot name="members" />
      <!-- Statistics Page Slot -->
      <slot name="statistics" />
    </section>
    <Footer />
  </main>
</Layout>
