---
import Layout from "../../layouts/Layout.astro";
import MainHeader from "../header/MainHeader.astro";

const { title, subtitle } = Astro.props;
---

<Layout title={title}>
  <main>
    <header class="relative w-full text-center mt-36 mb-16 px-36">
      <h2 class="text-white text-5xl font-medium rock-font my-5 mb-14">
        {title}
      </h2>
      <p class="text-white text-base">{subtitle}</p>
    </header>

    <section class="relative text-white text-center">
      <!-- Albums Page Slot -->
      <slot name="albums" />
      <!-- Members Page Slot -->
      <slot name="members" />
      <!-- Statistics Page Slot -->
      <slot name="statistics" />
    </section>
  </main>
</Layout>
