---
import Pages from "../components/sections/Pages.astro";
---

<Pages title="error-404">
  <div slot="error-404" class="relative flex flex-col items-center">
    <div class="border-red-600 border rounded-sm p-4 w-96 bg-gray-700/5 mb-6">
      <p class="text-white text-lg tracking-widest">Page not found</p>
    </div>
    <!-- <picture>
      <img src="/public/images/empty.webp" alt="Page not found" />
    </picture> -->
  </div>
</Pages>
