---
import Layout from "../layouts/Layout.astro";
import IntroSection from "../components/sections/IntroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import AlbumsSection from "../components/sections/AlbumsSection.astro";
import ConcertSection from "../components/sections/ConcertsSection.astro";
---

<Layout title="Welcome to a Fan Metallica Page">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden"
  >
    <div class="snap-center">
      <IntroSection />
    </div>
    <div class="snap-center">
      <AboutSection />
    </div>
    <div class="snap-center">
      <AlbumsSection />
    </div>
    <div class="snap-center">
      <ConcertSection />
    </div>
  </main>
</Layout>
