---
import Layout from "@layouts/Layout.astro";
import IntroSection from "@components/sections/IntroSection.astro";
import AboutSection from "@components/sections/AboutSection.astro";
import AlbumsSection from "@components/sections/AlbumsSection.astro";
import ConcertSection from "@components/sections/concerts/ConcertsSection.astro";
import Footer from "@components/footer/Footer.astro";
---

<Layout title="Welcome to a Fan Metallica Page">
  <main
    class="sm:snap-y sm:snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden"
  >
    <div class="sm:snap-center">
      <IntroSection />
    </div>
    <div class="sm:snap-center">
      <AboutSection />
    </div>
    <div class="sm:snap-center">
      <AlbumsSection />
    </div>
    <div class="sm:snap-center">
      <ConcertSection />
    </div>
    <div class="sm:snap-center">
      <Footer />
    </div>
  </main>
</Layout>
