---
import Pages from "../components/sections/Pages.astro";
import BandStatistics from "../components/sections/statistics/BandStatistics.astro";
import LastFMTracksStatistics from "../components/sections/statistics/LastFMTracksStatistics.astro";
import TracksStatistics from "../components/sections/statistics/TracksStatistics.astro";
// import LastfFMBandStatistics from "../components/sections/statistics/LastfFMBandStatistics.astro";
---

<Pages>
  <div slot="statistics">
    <h2 class="font-semibold text-3xl mb-8 rock-font">
      Metallica's statistics
    </h2>
    <section
      id="statistics"
      class="flex flex-col sm:grid relative bg-gray-700/80 p-7 box-border w-[90%] sm:w-4/5 m-auto rounded-lg"
    >
      <BandStatistics area="spotify-info" title="Band Statistics" />
      <TracksStatistics area="spotify-tracks" title="Top Tracks" />
      <LastFMTracksStatistics area="lastfm-tracks" title="Top Tracks" />
    </section>
  </div>
</Pages>

<style>
  @media (min-width: 640px) {
    #statistics {
      display: grid;
      grid-template-areas:
        "spotify-info spotify-info"
        "spotify-track lastfm-tracks";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
    }
  }
</style>
