---
import LogoSpotify from "../../Logos/LogoSpotify.astro";
import { getArtist } from "../../../services/spotify-get-artist.ts";

// Call getArtist and store the result
let metallicaInfo;
try {
  metallicaInfo = await getArtist();
  // console.log(metallicaInfo);

  if (metallicaInfo?.statusCode !== 200) {
    metallicaInfo = null;
  }
} catch (error) {
  metallicaInfo = null;
}

const { area, title } = Astro.props;
---

<section
  id="band-statistics"
  class=`sm:[grid-area:${area}] box-border p-3 mb-6`
>
  {
    metallicaInfo ? (
      // <div>{console.log(metallicaInfo)}</div>
      <>
        <header class="flex flex-row justify-center items-center gap-2 mb-8 text-center">
          <span>
            <LogoSpotify />
          </span>
          <h2 class="font-semibold text-lg">{title}</h2>
        </header>
        <div class="flex flex-col justify-center items-center gap-5 [&>p]:text-lg">
          <div class="flex flex-row gap-2">
            <p>popularity:</p>
            <span class="text-amber-200">
              Position {metallicaInfo.data.popularity}
            </span>
          </div>

          <div class="flex flex-col items-start gap-2">
            <p>Genres:</p>
            <ul class="relatice flex flex-col justify-center gap-3">
              {metallicaInfo.data.genres.map((info) => {
                return (
                  <li class="text-amber-200">
                    {info.charAt(0).toUpperCase() + info.slice(1)}
                  </li>
                );
              })}
            </ul>
          </div>

          <div class="flex flex-row gap-2">
            <p>Followers: </p>
            <span class="text-amber-200">
              {Number(metallicaInfo.data.followers.total)
                .toLocaleString()
                .replace(/,/g, ".")}
            </span>
          </div>
        </div>
      </>
    ) : (
      <div slot="error-404" class="relative flex flex-col items-center">
        <div class="border-red-600 border rounded-sm p-4 bg-gray-700/5 mb-6">
          <p class="text-white text-lg tracking-widest">
            Artist information could not be loaded
          </p>
        </div>
      </div>
    )
  }
</section>

<style>
  #band-statistics {
    grid-column: 1 / 3;
  }
</style>
