---
import LogoMetallica from "../Logos/LogoMetallica.astro";
import ModalMenuSM from "./ModalMenuSM.astro";
---

<header
  class="flex sm:hidden items-center main-header fixed py-3 px-10 top-0 w-full justify-between z-50 text-white bg-gray-700 box-border"
>
  <div id="logo-metallica-sm" class="flex flex-grow justify-start basis-0">
    <LogoMetallica />
  </div>

  <div class="menu relative w-10 h-10 bg-gray-700 flex flex-col justify-around">
    <div class="line-1 top-0 absolute w-full h-1 bg-gray-200"></div>
    <div class="line-2 absolute h-1 bg-gray-200"></div>
    <div class="line-3 bottom-0 absolute w-full h-1 bg-gray-200"></div>
  </div>
</header>

<div id="menu-modal" class="fixed top-0 left-0 w-screen bg-gray-700 z-[35]">
  <ModalMenuSM />
</div>

<script>
  const closeModal = () => {
    document.querySelector(".menu")?.classList.remove("open");
    document.getElementById("menu-modal")?.classList.remove("open");
  };

  const openModal = () => {
    document.querySelector(".menu")?.classList.add("open");
    document.getElementById("menu-modal")?.classList.add("open");
  };

  document.querySelector(".menu")?.addEventListener("click", () => {
    if (document.querySelector(".menu")?.classList.contains("open")) {
      closeModal();
    } else {
      openModal();
    }

    document.querySelectorAll(".menu-list li")?.forEach((li) => {
      li.addEventListener("click", () => {
        closeModal();
      });
    });

    document
      .getElementById("logo-metallica-sm")
      ?.addEventListener("click", () => {
        closeModal();
      });
  });
</script>

<style>
  @keyframes changeStatusLine1 {
    from {
      top: 0;
      transform: rotate(0deg);
    }
    to {
      top: 20px;
      transform: rotate(45deg);
    }
  }
  @keyframes changeStatusLine1Reverse {
    from {
      top: 20px;
      transform: rotate(45deg);
    }
    to {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes changeStatusLine3 {
    from {
      bottom: 0;
      transform: rotate(0deg);
    }
    to {
      bottom: 17px;
      transform: rotate(-45deg);
    }
  }
  @keyframes changeStatusLine3Reverse {
    from {
      bottom: 17px;
      transform: rotate(-45deg);
    }
    to {
      bottom: 0;
      transform: rotate(0deg);
    }
  }

  .menu .line-1 {
    animation: changeStatusLine1Reverse 0.5s ease-out both;
  }

  .menu.open .line-1 {
    animation: changeStatusLine1 0.5s ease-out both;
  }

  .menu .line-2 {
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  .menu.open .line-2 {
    opacity: 0;
    width: 0%;
    transition: all 0.2s ease-out;
  }

  .menu .line-3 {
    animation: changeStatusLine3Reverse 0.5s ease-out both;
  }

  .menu.open .line-3 {
    animation: changeStatusLine3 0.5s ease-out both;
  }

  #menu-modal {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }

  #menu-modal.open {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    transition:
      opacity 0.5s ease-in-out 0.2s,
      height 0.5s ease-in-out 0.2s,
      visibility 0.2s linear;
  }
</style>
