---
import MainNav from "./MainNav.astro";

import LogoMetallica from "../Logos/LogoMetallica.astro";
---

<header
  class="main-header fixed py-3 px-10 flex items-center top-0 w-full justify-between z-40 text-white bg-gray-700 box-border"
>
  <div class="flex flex-grow justify-start basis-0">
    <LogoMetallica />
  </div>
  <nav>
    <ul
      class="flex flex-row text-sm gap-5 [&>li>a]:px-2 [&>li>a]:p-4 [&>li>a]:rounded-md hover:[&>li>a]:bg-gray-200 hover:[&>li>a]:text-gray-700 ease-in-out"
    >
      <MainNav title="About" href="#about" />
      <MainNav title="Albums" href="#albums" />
      <MainNav title="Concerts" href="#concerts" />
      <!-- <li><a href="/#about">About</a></li>
      <li><a href="/#albums">Albums</a></li>
      <li><a href="/#concerts">Concerts</a></li> -->
    </ul>
  </nav>

  <div class="flex flex-grow justify-end basis-0 rock-font">
    <a href="https://www.metallica.com/" target="_blank">Official Site</a>
  </div>
</header>

<style>
  .main-header {
    animation: changeOpacity linear both;
    animation-timeline: scroll(root block);
    animation-range: 0% 80px;
    opacity: 0.35;
  }

  @keyframes changeOpacity {
    from {
      opacity: 0.35;
    }
    to {
      opacity: 0.8;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
</style>
