<a href="#home">
  <svg
    class="h-14 w-16 transition-colors duration-500"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 400 400"
  >
    <g>
      <g>
        <path
          d="M311.4,81.8L370.2,0c-39.1,30.7-76.6,58.2-112.3,82.5l41.4-13.7L29.8,400l200.9-156.5l-54.1,23.2l114-155.6l7,20
                l21.9-19.4L291,195.4l58.1-41.9l16.3-108.3l-51,46.1L311.4,81.8z"
        ></path>
      </g>
    </g>
  </svg>
</a>
