---
import LastConcerts from "@components/sections/concerts/LastConcerts.astro";

export const prerender = true;
---

<section
  class="relative sm:h-screen w-screen text-center overflow-hidden flex justify-center"
  id="concerts"
>
  <div
    class="relative flex flex-col justify-center sm:h-screen box-border gap-4"
  >
    <header class="flex flex-col justify-around">
      <h2 class="text-gray-200 text-4xl font-medium font-rock mt-16 mb-8">
        Lastest Concerts
      </h2>
    </header>

    <LastConcerts server:defer />
  </div>
</section>
