<section class="relative h-screen text-center overflow-hidden w-full" id="home">
  <div
    class="relative z-30 h-full flex flex-col justify-around items-center text-center backdrop-blur"
  >
    <header>
      <h1
        class="text-white text-4xl font-medium rock-font mb-6 sm:mb-5 mt-36 sm:my-5"
      >
        Metallica
      </h1>
      <p class="text-white text-base mb-4 sm:mb-0">
        Welcome to the best Metallica Experience
      </p>
    </header>

    <footer class="text-white pb-24">
      <a
        href="/#about"
        class="bg-gray-700/50 text-gray-200 font-light rounded-lg px-6 py-1 border-gray-200 border-2 hover:bg-gray-200/50 hover:text-gray-700 hover:border-gray-700 transition-colors duration-300 ease-in-out"
        >See More</a
      >
    </footer>
  </div>

  <div class="hidden sm:block absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full hidden sm:block"
      autoplay
      muted
      loop
      src="videos/metallica-video-final-2.mp4"></video>
  </div>
</section>
