---
import MainHeader from "../components/header/MainHeader.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
    </style>
    <title>{title}</title>
  </head>
  <body>
    <MainHeader />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "proxima-nova", system-ui, sans-serif;
    background: url("/images/bg-metallica.jpg") #000;
    background-size: 224px;
  }

  @font-face {
    font-family: "proxima-nova";
    src: url("/fonts/Proxima-Nova-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "proxima-nova";
    src: url("/fonts/Proxima-Nova-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: fa;
    src: url("/fonts/Proxima-Nova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: fa;
    src: url("/fonts/Proxima-Nova-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  .rock-font {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
